userconfig=~/.vpro/.npmrc

# You have to set the authentication credentials in your per-user config file
# (location specified above) to be able to update from and publish to Nexus
# _auth=base64-encoding of nexus username:password

registry=https://nexus.vpro.nl/content/groups/npm-all/

# Nexus needs authentication, even for getting packages
# always-auth=true

# The email field is necessary for publishing to Nexus
# email=frontend@vpro.nl